[submodule ".themes/SmallFox"]
	path = .themes/SmallFox
	url = https://github.com/lmm/SmallFox
[submodule ".themes/whiterspace"]
	path = .themes/whiterspace
	url = https://github.com/mjhea0/whiterspace
